@import './menu.css';
@import './modal.css';

body {
  background-color: #faf7f3;
  color: #3c2415;
  font-family: 'Roboto', sans-serif;
}

body,
figure,
hr,
.post-box {
  margin: 0;
  padding: 0;
}

.flex-row,
header,
.profile,
.btn-post {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container,
.container-home,
.container-profile,
.container form,
.footer,
.footer div,
.form-profile,
.icons-comment,
.login,
.posts,
.post-box,
.text,
.timeline {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment,
.send-post,
.user-post {
  display: flex;
  justify-content: space-between;
}

.img-login {
  margin-top: 50px;
  min-width: 250px;
  width: 75%;
}

.img-profile-change,
.img-profile-post,
.img-profile-comment,
.img-profile {
  clip-path: circle(50% at 50% 50%);
}

.img-profile-change {
  margin: 25px 0 17px;
  width: 160px;
}

.img-profile {
  width: 100px;
}

.img-profile-comment {
  width: 40px;
}

.img-header {
  padding: 0 15px;
  width: 50px;
}

.img-profile-post {
  width: 50px;
}

.img-post {
  align-self: center;
  margin: 15px 0;
  width: 70%;
}

.icon {
  max-width: 27px;
  padding: 0 10px 5px 3px;
}

.icon:active,
.icon:hover {
  transform: scale(1.2);
}

#gmailBtn {
  background: none;
  border: transparent;
  cursor: pointer;
  max-height: 32px;
  max-width: 32px;
  padding: 5px;
  transition: background-color 1ms;
}

#gmailBtn:active,
#gmailBtn:hover {
  background-color: #dbd7d7;
  transform: scale(1.1);
}

.icon-footer {
  height: 20px;
  padding: 5px, 0;
  width: 20px;
}

.icon-left {
  margin-left: 15px;
}

.button {
  background-color: #ffd932;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  height: 50px;
  margin: 10px;
  transition: background-color 3ms ease;
  width: 83%;
}

.button:active,
.button:hover {
  background-color: #3c2415;
  cursor: pointer;
}

.btn-delete {
  background-color: #b10000;
}

.link {
  color: #3c2415;
  margin-bottom: 30px;
  transition: color 30ms font-weight 2s;
}

.link:active,
.link:hover {
  color: #ffd932;
  font-weight: 700;
}

header {
  background-color: #3c2415;
  box-shadow: 0px 3px 4px 0px #4e4e4e;
  height: 70px;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 45px;
  width: 100%;
}

header h1 {
  font-weight: normal;
  margin-left: 12%;
}

.login {
  padding-top: 50px;
  width: 100%;
}

header h1,
.login h1 {
  color: #ffd932;
  font-family: 'Lobster', cursive;
  font-size: 33px;
  letter-spacing: 2px;
  text-align: center;
  width: 50%;
}

.container form {
  width: 80%;
}

.input {
  border: solid 1.5px #3c2415;
  border-radius: 40px;
  font-size: 18px;
  height: 45px;
  margin: 5px 10px;
  padding-left: 10px;
  width: 80%;
}

.profile {
  align-items: center;
}

.profile div {
  padding: 0 0 10px 15px;
}

.profile h3 {
  font-size: 25px;
}

.profile h4 {
  font-size: 20px;
}

.profile h3,
h4 {
  margin: 0;
}

.posts,
.timeline {
  width: 100%;
}

.post,
.box {
  align-content: center;
  border: solid 1px #3c2415;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin: 10px 0 30px;
  justify-content: center;
  width: 90%;
}

.box .textarea {
  min-height: 70px;
}

.textarea {
  align-self: center;
  border: solid 1px #3c2415;
  border-radius: 7px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 15px;
  padding: 10px;
  resize: none;
  transition: background-color 0.5s ease;
  width: 90%;
}

.textarea:active,
.textarea:hover {
  background-color: #faf7f3;
}

input[type='file'] {
  display: none;
}

.send-post {
  margin: 10px 0 0 0;
}

.post {
  margin: 10px 0;
}

.post-box {
  list-style-type: none;
  width: 100%;
}

.post-btn {
  align-self: flex-end;
  border-radius: 30px;
  font-size: 16px;
  height: 30px;
  margin: 0 3% 20px 0;
  padding: 0;
  width: 120px;
}

.user-post {
  align-items: center;
  background-color: #ffd932;
  border-radius: 7px 7px 0 0;
  padding: 10px 10px;
}

.user-post h3 {
  font-size: 17px;
  margin: 0;
  padding-left: 10px;
}

.comment h3,
.user-post time {
  font-size: 15px;
  margin: 0;
  padding: 5px 10px 2px;
}

.comment time {
  font-size: 13px;
  padding: 0 10px 5px;
}

.btn-post {
  justify-content: flex-start;
}

.text {
  border: none;
  color: #242424;
  height: auto;
  padding: 10px;
}

.text textarea {
  background-color: #faf7f3;
  border: none;
  color: #242424;
  font-size: 16px;
  overflow-y: auto;
  resize: none;
  width: 100%;
}

.icon-post {
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-radius: 0 0 7px 7px;
  color: #4e4e4e;
  display: flex;
  font-size: 17px;
  font-weight: 600;
  padding: 4px 15px;
}

hr {
  align-self: center;
  background-color: #dbd7d7;
  border: none;
  color: #dbd7d7;
  height: 1px;
  width: 98%;
}

.comment {
  margin-top: 10px;
  padding: 10px;
}

.comment-box {
  background-color: #dbd7d7;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.textarea-comment {
  margin-bottom: 0;
}

.comment textarea {
  align-self: auto;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0 10px 8px;
  width: 94%;
}

.comment textarea,
.comment textarea:hover {
  background-color: transparent;
}

.container-profile h2 {
  font-size: 30px;
  margin: 0;
}

.form-profile {
  width: 90%;
}

.form-profile input {
  font-size: 20px;
  height: 35px;
  text-align: center;
  width: 90%;
}

.form-profile .button {
  font-size: 20px;
  height: 35px;
  width: 95%;
}

.error {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  width: 70%;
}

.footer {
  background-color: #ffd932;
  height: auto;
  margin: 0;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.footer div {
  margin: 0;
  padding-top: 15px;
  width: auto;
}

.link-footer {
  color: #3c2415;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  text-decoration: none;
}

.link-footer:active,
.link-footer:hover {
  color: #3c2415;
  text-decoration: underline;
}

@media only screen and (min-width: 770px) {
  .container,
  .timeline {
    flex-direction: row;
  }
  .image-back {
    display: block;
    left: 30px;
    position: fixed;
    top: 90px;
    transform: rotateY(180deg);
    width: 400px;
    z-index: -1;
  }
  .img-login {
    padding-left: 100px;
  }
  .input {
    width: 50%;
  }
  .login {
    padding-top: 70px;
    min-width: 500px;
  }
  .button {
    width: 52%;
  }
  .img-header {
    width: 60px;
  }
  header h1 {
    font-weight: normal;
    margin-left: 3%;
  }
  .timeline {
    justify-content: center;
  }
  .profile {
    align-self: baseline;
    background-color: #ffd932;
    border: solid 1px #3c2415;
    border-radius: 7px;
    box-shadow: 0 0 3px 0px #4e4e4e;
    margin: 10px 50px 0 0;
    padding: 15px;
    width: 23%;
  }
  .form-profile,
  .posts {
    width: 40%;
  }
  .post-btn {
    width: 120px;
  }
  .box,
  .form-profile .button,
  .post,
  .timeline {
    width: 100%;
  }
  .comment textarea {
    box-shadow: none;
  }
  .box {
    align-self: flex-end;
  }
  .form-profile input {
    width: 95%;
  }
  .footer h5 {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    width: 70%;
  }
  .footer div {
    padding-top: 10px;
  }
}
