body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(250, 247, 243, 0.959);
}
.button {
    font-size: 25px;
    margin: 10px;
    border: none;
    border-radius: 40px;    
    color: white;
    height: 50px;
    width: 83%;
    padding: 0 10px;
    background-color: #FABA47;
    font-weight: 700;
}

.button:hover{
    background-color: rgb(223, 159, 41);
}

.input {
    font-size: 18px;
    width: 80%;
    height: 45px;
    margin: 5px 10px;
    padding-left: 10px;
    border: solid 1.5px black;
    border-radius: 40px;
}

.icon {
    background: none;
    color: inherit;
    padding: 0;
    border: transparent;
    cursor: pointer;
    max-width: 32px; 
    max-height: 32px; 
    padding: 5px;
}

.icon:hover{
    background-color: rgba(219, 215, 215, 0.74);
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
 
.link:hover {
    font-weight: 700;
    color: rgb(223, 159, 41);
}

/* style tela login */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;  
    width: 100%;
}

.imgLogin{
    max-width: 300px; 
    max-height: 300px;
    margin: 0;
}

.login{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap:wrap ;
    border-radius: 10px;
    width: 70%; 
}

h1{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    color:  #FABA47;
    margin: 0;
    /* margin-bottom: 20px; */
}
/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

@media (min-width:600px){

.container{
    display: flex;
    flex-direction: row;  
}
.container-register{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;  
    width: 100%;
}

.input{
   width: 50%;   
}

.button{
    width: 52%;
}
.imgLogin{
    max-width: 500px; 
    max-height: 500px;
    margin: 0;
    padding: 0 100px;
}
 

}  


/* teste */