body {
    background-color: #FAF7F3;
    color: #3C2415;
    font-family: 'Roboto', sans-serif;
}

.image {
    width: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgLogin {
    max-width: 475px;
    max-height: 475px;
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 50px;
}

.login h1 {
    font-size: 50px;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    color: #FFD932;
    margin: 0;
}

.container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
}

.input {
    font-size: 18px;
    width: 80%;
    height: 45px;
    margin: 5px 10px;
    padding-left: 10px;
    border: solid 1.5px #3C2415;
    border-radius: 40px;
}

.button {
    font-size: 25px;
    margin: 10px;
    border: none;
    border-radius: 40px;
    color: #FFF;
    height: 50px;
    width: 83%;
    background-color: #FFD932;
    font-weight: 700;
}

.button:hover {
    background-color: #3C2415;
}

.icon-google {
    background: none;
    padding: 0;
    border: transparent;
    cursor: pointer;
    max-width: 32px;
    max-height: 32px;
    padding: 5px;
}

.icon-google:hover {
    background-color: #DBD7D7;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.link {
    color: #3C2415;
}

.link:hover {
    font-weight: 700;
    color: #FFD932;
}

.box {
    margin-top: 15px;
    border-radius: 7px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: solid 2px #3C2415;
    width: 80%;
}

.textarea {
    padding: 10px;
    border-radius: 7px;
    width: 90%;
    height: 70px;
    resize: none;
}

.greeting-btn {
    border-radius: 30px;
    font-size: 16px;
    width: 120px;
    height: 30px;
}

.icon {
    border: solid 0.5px #3C2415;
    border-radius: 8px;
    width: 40px;
    height: 40px;
}

.icon-1 {
    z-index: 2;
}

.icon-2 {
    display: none;
    border: none;
    z-index: 1;
    display: none;
}

.space-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (min-width:770px) {
    .container {
        flex-direction: row;
    }
    /* .container-register {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    } */
    .input {
        width: 50%;
    }
    .button {
        width: 52%;
    }
    .imgLogin {
        max-width: 500px;
        max-height: 500px;
        padding: 0 100px;
    }
}